<header style="margin: 0; padding: 0 20px; font-size: 17px; background-color: #4b4b4b; height: 50px; display: flex; align-items: center;">
    <a href="index.html" style="text-decoration: none; color: white; font-weight: bold; margin-right: 25px">Greeting</a>
    <a href="searchPeople.html" style="text-decoration: none; color: white; font-weight: bold">Search Peoples</a>
</header>